<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <title>{% block title %}LeaderBoard{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <!-- Boostrap Dark -->
    <!-- Bootstrap Dark by default with `prefers: light` support -->
{#    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@forevolve/bootstrap-dark@2.0.0/dist/css/bootstrap-dark-prefers-light.min.css" />#}

    <link rel="stylesheet" href="{% static 'onlineCoding/css/style.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'onlineCoding/favicon.ico' %}">
</head>
<body>
<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-purple-gradient">
    <a class="navbar-brand" href="#">Online coding</a>
    <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
        <span class="navbar-toggler-icon"></span>
    </button>
    {% with request.resolver_match.url_name as url_name %}
        <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {% if url_name == 'leaderboard' %} active {% endif %}">
                    <a class="nav-link" href="/leaderboard">LeaderBoard <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item {% if url_name == 'problems' %} active {% endif %}">
                    <a class="nav-link" href="/problems">Problems</a>
                </li>
                <li class="nav-item {% if url_name == 'courses' %} active {% endif %}">
                    <a class="nav-link" href="/courses">Courses</a>
                </li>

                <li class="nav-item {% if url_name == 'teacher' %} active {% endif %}">
                    <a class="nav-link" href="/teacher">For teachers</a>
                </li>
                <li class="nav-item {% if url_name == 'solved' %} active {% endif %}">
                    <a class="nav-link" href="/solved">Solved</a>
                </li>


            </ul>
            {#        <form class="form-inline my-2 my-lg-0">#}
            {#            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">#}
            {#            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>#}
            {#        </form>#}
            <ul class="navbar-nav">
                {% if request.user.is_authenticated %}
                    <li class="nav-item dropdown {% if url_name == 'profile' %} active {% endif %}">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">{{ request.user }}</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown01">
                            <a class="dropdown-item" href="/profile">Profile</a>
                            <a class="dropdown-item" href="/logout">Logout</a>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/auth">Login/Register</a>
                    </li>
                {% endif %}
            </ul>


        </div>
    {% endwith %}
</nav>
<br>
<br>
<br>
<br>

<main role="main" class="container">
    {% block content %}

    {% endblock %}
</main>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"
        integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
{% block after_script %}

{% endblock %}

</html>