{% extends 'onlineCoding/base.html' %}
{% block title %}
    Online Coding
{% endblock %}

{% block content %}


    <div class="card shadow">
        <img class="card-img-top"
             src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22286%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20286%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_180f07a7d68%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A14pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_180f07a7d68%22%3E%3Crect%20width%3D%22286%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22107.1937484741211%22%20y%3D%2296.24000034332275%22%3E286x180%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
             alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{ course.title }}</h5>
            <p class="card-text">{{ course.description }}</p>
            <a href="courses/{{ course.slug }}" class="btn btn-primary">More</a>
        </div>
    </div>
    {#                <p class="w3-opacity"><i>{{ course.created_at }}</i></p>#}
    {#                <p class="w3-opacity"><i>{{ course.updated_at }}</i></p>#}
    {#                <p class="w3-opacity"><i>{{ course.user_id }}</i></p>#}
    {#                <p class="w3-opacity"><i>{{ course.category_id }}</i></p>#}
    {#                <p class="w3-opacity"><i>{{ course.language_id }}</i></p>#}
    {#                <p class="w3-opacity"><i>{{ course.level_id }}</i></p>#}
    {#                <p class="w3-opacity"><i>{{ course.price }}</i></p>#}
    {#                <p class="w3-opacity"><i>{{ course.duration }}</i></p>#}
    {#                <p class="w3-opacity"><i>{{ course.rating }}</i></p>#}
    {#                <p class="w3-opacity"><i>{{ course.views }}</i></p>#}
    {#                <p class="w3-opacity"><i>{{ course.status }}</i></p>#}
    {#                <p class="w3-opacity"><i>{{ course.image }}</i></p>#}
    {#                <p class="w3-opacity"><i>{{ course.video }}</i></p>#}
    {#                <p class="w3-opacity"><i>{{ course.slug }}</i></p>#}
{% endblock %}