{% extends 'onlineCoding/base.html' %}
{% block title %}
{{ course.title }}
{% endblock %}

{% block content %}
<html>
 
    <body>
    <div class="card shadow">
        
        <div class="card-body">
            <h5 class="card-title">{{ course.title }}</h5>
            <p class="card-text">{{ course.description }}</p>
        </div>
    </div>
    {% comment %} print all information from course {% endcomment %}
    <div class="card shadow">
        <div class="card-body">
            <h5 class="card-title">Course Information</h5>
            <p class="card-text">
                <ul>
                    <li>Course ID: {{ course.id }}</li>
                    <li>Course Title: {{ course.title }}</li>
                    <li>Course Description: {{ course.description }}</li>
                    
                    <li>Course Created At: {{ course.created_at }}</li>
                    <li>Course Updated At: {{ course.updated_at }}</li>
                    {% comment %}
                        create a list and buttons of tasks in course
                    {% endcomment %}
                  
                            <li>Tasks: 
                                
                          
                            {% for task in tasks %}
                                    
                                    <a class="btn btn-primary" href="/textEditor/{{ task.slug }}">{{ task.title }}</a>  
                                
                            {% endfor %}
                        </li>
                </ul>
            </p>
        </div>
    </div>
    {% comment %} print all information from course {% endcomment %}
    {% comment %}
    print all chapters
    {% endcomment %}
    <div class="card shadow">
        <div class="card-body">
            <h5 class="card-title">Chapters</h5>
            <p class="card-text">
                <ul>
                    {% for chapter in chapters %}
                    <li> <b>Chapter ID: </b>{{ chapter.id }}</li>
                    <li><b>Chapter Title: </b> {{ chapter.title }}</li>
                    <li><b>Chapter Description: </b>{{ chapter.description }}</li>
                    <li><b>Chapter Created At:</b> {{ chapter.created_at }}</li>
                    <li><b>Chapter Updated At: </b> {{ chapter.updated_at }}</li>
                    <li><b>Chapter Information: </b> </li> <p><i>{{ chapter.information }} </i></p>
                    {% endfor %}
                </ul>
            </p>
        </div>
</body>
</html>
{% endblock %}