{% extends 'onlineCoding/base.html' %}

{% block content %}

    <div class="my-3 p-3 bg-white rounded shadow">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First name</th>
                <th scope="col">Last name</th>
                <th scope="col">Group</th>
                <th scope="col">Rating</th>
            </tr>
            </thead>
            <tbody>
           {% for user in users %}
            <tr>
                <th scope="row">
                    {{ forloop.counter }}
                </th>
                <td>{{ user.first_name }}</td>
                <td>{{ user.surname }}</td>
                <td>{{ user.group }}</td>
                <td>{{ user.rating }}</td>
            </tr>
            {% endfor %}
            
        </table>
        <small class="d-block text-right mt-3">
            <a href="#">All users</a>
        </small>
    </div>


{% endblock %}