{% extends 'onlineCoding/base.html' %}
{% block title %}
    Profile
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading col-6">
                        <h3 class="panel-title">Profile</h3>
                    </div>
                    <div class="panel-body col-6">
                        <form action="/base" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" name="name" id="name" class="form-control"
                                       value="{{ user.user.first_name }}" disabled>
                            </div>
                            <div class="form-group">
                                <label for="surname">Surname</label>
                                <input type="text" name="surname" id="surname" class="form-control"
                                       value="{{ user.user.surname }}" disabled>
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" name="email" id="email" class="form-control"
                                       value="{{ user.user.email }}" disabled>
                            </div>
                            <div class="form-group">
                                <label for="group">Group</label>
                                <input type="text" name="group" id="group" class="form-control"
                                       value="{{ user.user.group }}" disabled>
                            </div>
                            <div class="form-group">
                                <label for="group">Rating score</label>
                                <input type="number" id="group" class="form-control"
                                       value="{{ user.rating }}" disabled>
                            </div>
{#                            <button type="submit" class="btn btn-primary">Submit</button>#}
                            <div class="text-muted"><h4>Total number of solved Problems:</h4></div>
                            
                             
                                <div class="form-group">
                                    <label for="group">{{ solvedProblem.problem.name }}</label>
                                    <input type="number" id="group" class="form-control"
                                           value="{{ problems }}" disabled>
                                </div> 

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}