{% extends 'onlineCoding/base.html' %}

{% block title %}
    Teacher Page
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.0/css/jquery.dataTables.min.css">
    {% comment %}
         all plagiarism_tasks are stored in the database as a list of strings
    {% endcomment %}
    <div class="container">
        <h1>Teacher page</h1>
        <h2>All tasks</h2>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Task</th>
                        <th>Teacher</th>
                        <th>Students</th>
                        <th>Plagiarism</th>

                    </tr>
                    </thead>
                    <tbody>

                    {% for task in plagiarism_tasks %}
                        <tr>
                            <td>{{ task.task }}</td>
                            <td>{{ task.task.teacher.user.first_name }}</td>
                            <td> {{ task.author.first_name }}</td>
                            <td> {{ task.plagiat }} </td>

                        </tr>

                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% comment %}
        all information about student of teacher users_of_teachers
    {% endcomment %}
    <div class="container">
    <h2>All users of teacher</h2>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Email</th>
                    <th>Group</th>
                    <th>Role</th>
                    <th>Teacher</th>
                    <th>Rating</th>

                </tr>
                </thead>
                <tbody>

                {% for user in users_of_teachers %}
                    <tr>
                        <td>{{ user.user.first_name }}</td>
                        <td>{{ user.user.surname }}</td>
                        <td>{{ user.user.group }}</td>
                        <td>{{ user.user.email }}</td>
                        <td>{{ user.user.role }}</td>
                        <td>{{ teacher.user.first_name }}</td>
                        <td>{{ user.rating }}</td>

                    </tr>

                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>

    {% comment %}

   add course to teacher

    {% endcomment %}
    <div class="container">
    <h2>Add course to student</h2>
    <div class="row">
        <div class="col-md-12">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% comment %}
                                # title description slug time_limit memory_limit author language 
                                # create form
                                {% endcomment %}
                <form method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" id="title" name="title" placeholder="Title">
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea class="form-control" id="description" name="description"
                                  placeholder="Description"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="slug">Slug</label>
                        <input type="text" class="form-control" id="slug" name="slug" placeholder="Slug">
                    </div>
                    <div class="form-group">
                        <label for="banner">Banner</label>
                        <input type="file" class="form-control" id="banner" name="banner" placeholder="Banner">
                    </div>
                    <div class="form-group">
                        <label for="language">Language</label>
                        <input type="text" class="form-control" id="language" name="language" placeholder="Language">
                    </div>
                    <button type="submit" name="add_course" class="btn btn-default">Submit</button>

                </form>
        </div>
    </div>
    {% comment %}

        add chapter to course with fields title description slug banner course information
    {% endcomment %}
    <div class="container">
    <h2>Add chapter to course</h2>
    <div class="row">
    <div class="col-md-12">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% comment %}
                                # title description slug time_limit memory_limit author language 
                                # create form
                                {% endcomment %}
            <form method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="Title">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea class="form-control" id="description" name="description"
                              placeholder="Description"></textarea>
                </div>
                <div class="form-group">
                    <label for="slug">Slug</label>
                    <input type="text" class="form-control" id="slug" name="slug" placeholder="Slug">
                </div>
                {% comment%}
                                add image banner to chapter
                                {% endcomment %}

                <div class="form-group">
                    <label for="banner">Banner</label>
                    <input type="file" class="form-control" id="banner" name="banner" placeholder="Banner">
                </div>


                <div class="form-group">
                    <label for="course">Course</label>
                    <select class="form-control" id="course" name="course">
                        {% for course in courses %}
                            <option value="{{ course.id }}">{{ course.title }}</option>
                        {% endfor %}
                    </select>

                    <div class="form-group">
                        <label for="information">Information</label>
                        <textarea class="form-control" id="information" name="information"
                                  placeholder="Information"></textarea>
                    </div>
                    <button type="submit" name="add_chapter" class="btn btn-default">Submit</button>

            </form>
    </div>
{% endblock %}

{% block after_script %}
    <script src="https://cdn.datatables.net/1.12.0/js/jquery.dataTables.js"></script>

    <script>
        $(document).ready(function () {
            $('#leaderboard').DataTable();
        });
    </script>
{% endblock %}
