{% extends 'onlineCoding/base.html' %}

{% block content %}
    {% load static %}

    <link rel=stylesheet href="{% static 'codemirror/main/codemirror.css' %}">
    <link rel=stylesheet href="{% static 'codemirror/doc/docs.css' %}">
    <link rel=stylesheet href="{% static 'codemirror/addon/hint/show-hint.css' %}"/>
    <link rel=stylesheet href="{% static 'onlineCoding/css/style.css' %}"/>
    <script src="{% static 'codemirror/main/codemirror.js' %}"></script>
    <script src="{% static 'codemirror/mode/python/python.js' %}"></script>
    <script src="{% static 'codemirror/addon/edit/matchbrackets.js' %}"></script>
    <script src="{% static 'codemirror/addon/hint/show-hint.js' %}"></script>
    <style>
        .CodeMirror pre {
            padding-left: 7px;
            line-height: 1.25;
        }

        .banner {
            background: #ffc;
            padding: 6px;
            border-bottom: 2px solid silver;
            text-align: center
        }
    </style>
    </head>
    <body>
    <div class="text-center">

        <h3>{{ task.title }}</h3>
        <br>
        <p>Difficulty: {{ task.difficulty }}</p>
        <p>
            Execution time limit: {{ task.time_limit }} sec<br>
            Memory limit: {{ task.memory_limit }} Kbit
        </p>
        <small>Added by: {{ task.author }}</small><br>
        <small>Added at: {{ task.created_at }}</small>
    </div>
    <p>{{ task.description }}</p>
    {% if task.input_description %}
        <h5>Input:</h5>
        <p>{{ task.input_description }}</p>
    {% endif %}
    <h5>Output:</h5>
    <p>{{ task.output_description }}</p>
    <h4>Example:</h4>
    {% if task.input_example %}
        <div class="input mb-2">
            <div class="title">Input example</div>
            <pre>{{ task.input_example }}</pre>
        </div>
    {% endif %}
    <div class="output">
        <div class="title">Output example</div>
        <pre>{{ task.output_example }}</pre>
    </div>
    <br>
    {% if request.user.is_authenticated %}
        <form style="position: relative; margin-top: .5em;" action="{{ task.slug }}" method="post">
            {% csrf_token %}
            {{ form.code }}
            {% comment %} {% if task.is_solved(request.user) %}
        <button type="submit" class="btn btn-primary" disabled>
            <i class="fa fa-check"></i>
            Solved
        </button>
    {% endif %} {% endcomment %}

            <button class="btn btn-outline-success" type="submit">Send</button>
        </form>
        {% if error %}
            <div class="alert alert-danger">
                {{ error }}
            </div>
        {% endif %}
        {% if result %}
            <div class="alert alert-success">
                {{ result }}
            </div>
        {% endif %}

        {% if answer %}
            <div class="alert alert-success">
                <p>
                    <i class="fa fa-check"></i>
                    <strong>Success!</strong>
                </p>
                <p>
                    <strong>Your answer:</strong>
                <pre>{{ answer }}</pre>
                </p>
                <p>
                    <strong>Expected answer:</strong>
                <pre>{{ task.output_example }}</pre>
                </p>
            </div>


        {% endif %}
        <div class="console">
            <div class="console-top">
                <span class="red"></span><span class="orange"></span><span class="green"></span>
            </div>
            <pre class="console-bg"><code class="b7126e7">
<strong class="console-body">user@local:~# show user --info
</strong>
IP Address: <strong>103.214.45.149</strong>
Device: <strong>Desktop</strong>
User Agent: <strong>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/100.0.4896.60 Safari/537.36</strong>
Country: <strong>United Kingdom</strong>
City: <strong>London</strong>
Latitude: <strong>51.51642</strong>
Longitude: <strong>-0.08886</strong>
Post Code Area: <strong>EC2R 6</strong>
ISP: <strong>Clouvider Limited</strong>

        </code>
    </pre>
        </div>
    {% else %}
        <i class="text-info"><b>Note:</b> Only authorized users can send solutions</i>
    {% endif %}
    <script>
        const editor = CodeMirror.fromTextArea(document.getElementsByName("code")[0], {
            mode: {
                name: "python",
                version: 3,
                singleLineStringErrors: false
            },
            lineNumbers: true,
            indentUnit: 4,
            matchBrackets: true
        });
        editor.on('change', function () {
            document.getElementsByName("code")[0].innerText = editor.getValue();
        })
        var mac = CodeMirror.keyMap.default == CodeMirror.keyMap.macDefault;
        CodeMirror.keyMap.default[(mac ? "Cmd" : "Ctrl") + "-Space"] = "autocomplete";
    </script>
{% endblock %}